<h2 mat-dialog-title>{{ isEditMode ? "Editar" : "Registrar" }} Usuario</h2>
<mat-dialog-content>
  <mat-form-field class="w-100">
    <input
      matInput
      placeholder="Nombre"
      required
      [formControl]="nombreFormControl"
    />
    <mat-error *ngIf="nombreFormControl.hasError('required')"
    >Nombre es <strong>Requerido</strong></mat-error
  >
  </mat-form-field>
  <mat-form-field class="w-100">
    <input
      matInput
      placeholder="Apellidos"
      required
      [formControl]="apellidosFormControl"
    />
    <mat-error *ngIf="apellidosFormControl.hasError('required')"
      >Apellidos es <strong>Requerido</strong></mat-error
    >
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Tipo de Usuario</mat-label>
    <mat-select
      placeholder="Selecciona el tipo de usuario"
      name="tipo"
      [formControl]="tipoFormControl"
      required
    >
      <mat-option value="Gerente">Gerente</mat-option>
      <mat-option value="Validador">Validador</mat-option>
      <mat-option value="Capturador">Capturista</mat-option>
    </mat-select>
    <mat-error *ngIf="tipoFormControl.hasError('required')"
      >Tipo es <strong>Requerido</strong></mat-error
    >
  </mat-form-field>
  <mat-form-field *ngIf="!isEditMode" class="w-100">
    <input
      type="number"
      matInput
      placeholder="Numero de Empleado"
      [formControl]="numeroEmpleadoFormControl"
      required
    />
    <mat-error *ngIf="tipoFormControl.hasError('required')">
      Numero Empleado <strong>Requerido</strong></mat-error
    >
  </mat-form-field>
  <mat-form-field *ngIf="!isEditMode" class="w-100">
    <input
      type="email"
      matInput
      [formControl]="emailFormControl"
      placeholder="Ex. pat@example.com"
    />
    @if (emailFormControl.hasError('email') &&
    !emailFormControl.hasError('required')) {
    <mat-error>Ingresa un formato de correo valido</mat-error>
    } @if (emailFormControl.hasError('required')) {
    <mat-error>Correo Electronico <strong>Requerido</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field *ngIf="!isEditMode" class="w-100">
    <input
      type="password"
      matInput
      placeholder="Contraseña"
      [formControl]="passwordFormControl"
    />
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      La contraseña es requerida
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('minlength')">
      La contraseña debe tener al menos 8 caracteres
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancelar</button>
  <button mat-button (click)="onSaveClick()" [disabled]="!isValidForm()">
    {{ isEditMode ? "Guardar" : "Registrar" }}
  </button>
</mat-dialog-actions>
